<div class="container" *ngIf="productFormGroup">
    
    <form [formGroup]="productFormGroup">
        <div class="d">
            <label>ID</label>
            <input type="text" class="form-control" formControlName="id">      
        </div>
        <div class="d">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name">      
        </div>
        <div class="d">
            <label>Price</label>
            <input type="text" class="form-control" formControlName="price">       
    
        </div>
        <div class="d">
            <label>Quantity</label>
            <input type="text" class="form-control" formControlName="quantity">
        </div>
        <div class="form-check d">
            <label class="form-check-label" for="exampleCheck1">Selected</label>
            <input type="checkbox" class="form-control form-check-input" id="exampleCheck1" formControlName="selected">
        </div>

        <div class="form-check d">
            <label class="form-check-label" for="exampleCheck1">Available</label>
            <input type="checkbox" class="form-control form-check-input" id="exampleCheck1" formControlName="available">
        </div>

        <button (click)="onUpdateProduct()" class="btn btn-success">Modifier</button>

    </form>
</div>